.container_articles {
    overflow: hidden;
    max-width: 100%;
    padding: 40px;

    .container_text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        margin-left: 20px;
        
        h3 {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.2em;
            color: rgb(61, 61, 61);
        }
        h4 {
                
            font-family: "Nunito";
            font-size: 14px;
            a{
                text-decoration: underline;
                color: rgb(109, 108, 108);
            }
        }
        @media screen and (min-width: 800px) and (max-width: 400px){
            display: block;
        }
    }
    .grid_articles{
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-padding-left: 40px;
            padding: 20px 0px 0px 40px;
            display: grid;
            grid-auto-flow: column;
            gap: 10px;
            margin-bottom: 60px;
            .pop-icon {
                scroll-snap-align: start;
            }
            @media screen and (max-width: 1280px){
                gap: 40px;
            }
        ul{
            padding: 40px;
            li{
                margin-bottom: 40px;
            }
            h2{
                font-family: "nunito", sans-serif;
                font-size: 18px;
                margin: 15px 0 15px 0;
                text-align: center;
            }
            p {
                font-size: 14px;
                font-family: "nunito", sans-serif;
                color: gray;
                text-align: center;
            }
        }
        
        

        @media screen and (max-width: 800px){
            display: grid;
            grid-template-columns: auto;
            place-items: center;
            
            .destaque{
                span{
                    max-width: 100%;
                    img{
                        place-items: center;
                        margin: auto;
                    }
                }
            }
        }


        .div_art {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            max-width: 70%;
            margin: auto;
        }
        
    }
}

.opacity_articles{
    opacity: 80%;
}