.container_articles {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    overflow: hidden;
    max-width: 100%;
    padding: 40px;

    .container_text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        margin-left: 20px;
        
        h3 {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.2em;
            color: rgb(61, 61, 61);
        }
        h4 {
                
            font-family: "Nunito";
            font-size: 14px;
            a{
                text-decoration: underline;
                color: rgb(109, 108, 108);
            }
        }
        @media screen and (min-width: 800px) and (max-width: 400px){
            display: block;
        }
    }
    .container_art{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-end;


        @media screen and (max-width: 800px){
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            grid-gap: 40px;
            
            img{
                width: 80%;
            }
        }

        @media screen and (max-width: 400px) {
            img {
                width: 100%;
            }
        }

        .div_art {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            max-width: 60%;
            margin: auto;
        }
        
        .p_small{
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content:start;
        
        }
        p {
            font-size: 18px;
            font-family: "nunito", sans-serif;
            color: gray;

        }
        small {
            margin-top: 20px;
            font-size: 14px;
            font-family: "nunito", sans-serif;
            color: gray;
        
        }
    }
}