.container_carousel {
    max-width: 100%;
    overflow: hidden;
    margin-top: 60px;
    .container_p1_p2{
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 400px) {
            padding: 0;
            margin-bottom: 40px;
            margin-right: 20px;
        }
        h3 {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.2em;
            color: rgb(61, 61, 61);
        }
        h4 {
                
            font-family: "Nunito";
            font-size: 14px;
            a{
                text-decoration: underline;
                color: rgb(109, 108, 108);
            }
        }
    }


    .podcast {
        margin-top: 80px;
    }
    .sales {
        margin-top: 60px;
        
    }
        
}
