main {
    .carouselProducts{
        background: #c4c4c436;
        height: 400px;
        margin-top: 40px;
        border-radius: 5px 5px 0px 0;
        box-shadow: -10px 6px 10px rgba(0, 0, 0, 0.336);
    }
    .carouselPrincipal{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 40px;
        padding: 20px;
    }
}