main {
    .heroShop{        
        background: #c4c4c436;
        height: 550px;
        margin-top: 40px;
        border-radius: 5px 5px 0px 0;
        box-shadow: -10px 6px 10px rgba(0, 0, 0, 0.336);
        overflow: hidden;
        .carouselSlick{
            padding: 40px;
            margin-left: 40px;
        }
    }
}