.container_carousel {
    max-width: 100%;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 40px;
    .container_p1_p2{
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h3 {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.2em;
            color: rgb(61, 61, 61);
        }
        h4 {
                
            font-family: "Nunito";
            font-size: 14px;
            a{
                text-decoration: underline;
                color: rgb(109, 108, 108);
            }
        }
    }
    /*
    .container_image{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding-left: 40px;
        padding: 20px 0px 0px 80px;
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        gap: 10px;
        .pop-icon {
            scroll-snap-align: start;
        }
    }
    */

    .podcast {
        margin-top: 80px;
    }
    .sales {
        margin-top: 60px;
        
    }
        
}
