
.contactUs{
    h2{
        font-size: 18px;
        font-family: "nunito", sans-serif;
        letter-spacing: 0.2em;
        color: rgb(61, 61, 61);
    }
}

.container_contacts{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    form{
        gap: 20px;
        label{
            font-family: "nunito", sans-serif;
            color: rgb(61, 61, 61);
            font-size: 14px;
            letter-spacing: 0.3em;
        }
        input{
            width: 400px;
            height: 32px;
            margin: 5px 20px 20px 0;
        }
    }
    .second{
        label{
            font-family: "nunito", sans-serif;
            color: rgb(61, 61, 61);
            font-size: 14px;
            letter-spacing: 0.3em;
            
        }
        textarea{
            width: 400px;
            height: 175px;
            margin-top: 5px;
            padding: 10px;
            resize: none;
        }
    }
    @media screen and (max-width: 800px){
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

    }
    
    @media screen and (max-width: 400px) {

    }
}
.container_buttonSend {
    display: flex;
    justify-content: center;
    .buttonSend{
        font-size:15px;
        font-family:"nunito", sans-serif;
        width:180px;
        height:40px;
        border-width:1px;
        color:#fff;
        text-decoration: none;
        border-color:#83949B;
        font-weight:bold;
        border-radius: 1px;
        box-shadow: 0px 8px 14px -7px #83949B;
        text-shadow: 0px 1px 0px #3d768a;
        background: #83949B;
        line-height: 40px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 40px;
    }
    
}