.sales {
    max-width: 100%;
    overflow: hidden;
    margin: 100px 0 50px 0;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    .absoluto {
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: .10s;
        .anime {
            color: #ffffff;
            font-size: 86px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p{
            @media screen and (max-width: 400px) {
                font-size: 14px;
            }
        }
    }
    .animate {
        opacity: 1;
    }


    @media screen and (max-width: 400px){
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        p {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 800px){
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        p {
            font-size: 36px;
        }
    }
        
    img{
        width: 100%;
    }
}

