.container_news {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-image: url(/images/news/backgroud.png);
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 40px;
    
    overflow: hidden;
    margin: 120px 0 120px 0;
    border-radius: 5px 5px 0px 0;
    box-shadow: -10px 6px 10px rgba(0, 0, 0, 0.336);

    @media screen and (max-width: 400px){
        width: 100%;
    }
    
    .news {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 20px;
        
    }
}