/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
}

.container_nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
.container_nav .logo {
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .container_nav .menu {
    display: none;
  }
}
.container_nav .menu-mobile {
  color: gray;
}
@media screen and (min-width: 801px) {
  .container_nav .menu-mobile {
    display: none;
    justify-content: space-around;
  }
}
.container_nav .menu ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.container_nav .menu ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 40px;
  letter-spacing: 1px;
  color: gray;
}
.container_nav .menu ul a {
  list-style: none;
  text-decoration: none;
  color: rgb(94, 94, 94);
  font-size: 14px;
}
.container_nav .login_shop ul {
  display: flex;
  flex-wrap: nowrap;
  grid-gap: 20px;
  margin-right: 40px;
}
.container_nav .login_shop ul .material-icons {
  font-family: "Material Icons";
  font-size: 24px;
  color: gray;
}
.container_nav hr {
  width: 100%;
}

.hero {
  width: 100%;
  height: 600px;
  background-image: url(/images/hero/hero-img.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container_hero {
  display: grid;
  place-items: center;
  place-content: center;
  margin: auto;
}
.hero .container_hero h1 {
  font-family: "Reenie Beanie";
  font-size: 7em;
  color: rgba(255, 255, 255, 0.87);
}
@media screen and (max-width: 800px) {
  .hero .container_hero h1 {
    font-size: 5em;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .hero .container_hero h1 {
    font-size: 5em;
    text-align: center;
  }
}
.hero .container_hero h2 {
  font-family: "Nunito", sans-serif;
  color: white;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 800px) {
  .hero .container_hero h2 {
    text-align: center;
    gap: 20px;
  }
}

.container_carousel {
  max-width: 100%;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 40px;
}
.container_carousel .container_p1_p2 {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .container_carousel .container_p1_p2 {
    padding: 0;
    margin-bottom: 40px;
    margin-right: 20px;
  }
}
.container_carousel .container_p1_p2 h3 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: rgb(61, 61, 61);
}
.container_carousel .container_p1_p2 h4 {
  font-family: "Nunito";
  font-size: 14px;
}
.container_carousel .container_p1_p2 h4 a {
  text-decoration: underline;
  color: rgb(109, 108, 108);
}
.container_carousel .podcast {
  margin-top: 80px;
}
.container_carousel .sales {
  margin-top: 60px;
}

.sales {
  max-width: 100%;
  overflow: hidden;
  margin: 100px 0 50px 0;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
}
.sales .absoluto {
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: 0.1s;
}
.sales .absoluto .anime {
  color: #ffffff;
  font-size: 86px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 400px) {
  .sales .absoluto p {
    font-size: 14px;
  }
}
.sales .animate {
  opacity: 1;
}
@media screen and (max-width: 400px) {
  .sales {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .sales p {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .sales {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .sales p {
    font-size: 36px;
  }
}
.sales img {
  width: 100%;
}

.container_pesquisa {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  max-width: 100%;
  overflow: hidden;
  height: 400px;
  margin-top: 80px;
}
.container_pesquisa .search {
  margin-left: 40px;
}
.container_pesquisa .search h3 {
  color: white;
  font-family: "nunito";
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .container_pesquisa .search h3 {
    font-size: 18px;
  }
}
.container_pesquisa .search p {
  color: white;
  font-family: "nunito";
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .container_pesquisa .search p {
    font-size: 14px;
  }
}
.container_pesquisa .search .form_newsletter {
  margin-bottom: 40px;
}
.container_pesquisa .search .form_newsletter form input [type=text] {
  height: 40px;
  border: 0;
  background: #ededed;
}
.container_pesquisa .search .form_newsletter form input [type=button] {
  margin-left: -10px;
  border: 0;
  height: 40px;
  padding: 0 20px;
}
.container_pesquisa .search .form_newsletter button {
  background-color: rgb(83, 83, 83);
  width: 40px;
  height: 42px;
  border-style: none;
  color: #ffffff;
}
.container_pesquisa .search .form_newsletter input {
  width: 500px;
  height: 40px;
  border-style: none;
  background: rgba(128, 128, 128, 0.288);
}
@media screen and (max-width: 400px) {
  .container_pesquisa .search .form_newsletter input {
    width: 200px;
  }
}

.container_articles {
  overflow: hidden;
  max-width: 100%;
  padding: 40px;
}
.container_articles .container_text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  margin-left: 20px;
}
.container_articles .container_text h3 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: rgb(61, 61, 61);
}
.container_articles .container_text h4 {
  font-family: "Nunito";
  font-size: 14px;
}
.container_articles .container_text h4 a {
  text-decoration: underline;
  color: rgb(109, 108, 108);
}
@media screen and (min-width: 800px) and (max-width: 400px) {
  .container_articles .container_text {
    display: block;
  }
}
.container_articles .grid_articles {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 40px;
  padding: 20px 0px 0px 40px;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  margin-bottom: 120px;
}
.container_articles .grid_articles .pop-icon {
  scroll-snap-align: start;
}
.container_articles .grid_articles ul {
  padding: 40px;
}
.container_articles .grid_articles ul li {
  margin-bottom: 40px;
}
.container_articles .grid_articles ul h2 {
  font-family: "nunito", sans-serif;
  font-size: 18px;
  margin: 15px 0 15px 0;
  text-align: center;
}
.container_articles .grid_articles ul p {
  font-size: 14px;
  font-family: "nunito", sans-serif;
  color: gray;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .container_articles .grid_articles {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
  }
  .container_articles .grid_articles .destaque span {
    max-width: 100%;
  }
  .container_articles .grid_articles .destaque span img {
    place-items: center;
    margin: auto;
  }
}
.container_articles .grid_articles .div_art {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 70%;
  margin: auto;
}

.opacity_articles {
  opacity: 80%;
}

.container_pesquisa {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  max-width: 100%;
  overflow: hidden;
  height: 400px;
  margin-top: 80px;
}
.container_pesquisa .search {
  margin-left: 40px;
}
.container_pesquisa .search h3 {
  color: white;
  font-family: "nunito";
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .container_pesquisa .search h3 {
    font-size: 18px;
  }
}
.container_pesquisa .search p {
  color: white;
  font-family: "nunito";
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .container_pesquisa .search p {
    font-size: 14px;
  }
}
.container_pesquisa .search .form_newsletter {
  margin-bottom: 40px;
}
.container_pesquisa .search .form_newsletter form input [type=text] {
  height: 40px;
  border: 0;
  background: #ededed;
}
.container_pesquisa .search .form_newsletter form input [type=button] {
  margin-left: -10px;
  border: 0;
  height: 40px;
  padding: 0 20px;
}
.container_pesquisa .search .form_newsletter button {
  background-color: rgb(83, 83, 83);
  width: 40px;
  height: 42px;
  border-style: none;
  color: #ffffff;
}
.container_pesquisa .search .form_newsletter input {
  width: 500px;
  height: 40px;
  border-style: none;
  background: rgba(128, 128, 128, 0.288);
}
@media screen and (max-width: 400px) {
  .container_pesquisa .search .form_newsletter input {
    width: 200px;
  }
}

main h2 {
  margin: 40px 0 40px 40px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: rgb(61, 61, 61);
}
main .container_img_about {
  display: flex;
  background-image: url(/images/about/about.png);
  max-width: 100%;
  padding: 40px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0;
  box-shadow: -10px 6px 10px rgba(0, 0, 0, 0.336);
}
main .cointainer_txt_about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 100px;
}
main .cointainer_txt_about h3 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: rgb(61, 61, 61);
  margin-bottom: 40px;
}
main .cointainer_txt_about p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
  font-weight: bold;
  color: rgb(61, 61, 61);
}
main .container_button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 40px;
}
main .container_button .buttonClass {
  font-size: 15px;
  font-family: "nunito", sans-serif;
  width: 180px;
  height: 40px;
  border-width: 1px;
  color: #fff;
  text-decoration: none;
  border-color: #83949B;
  font-weight: bold;
  border-radius: 1px;
  box-shadow: 0px 8px 14px -7px #83949B;
  text-shadow: 0px 1px 0px #3d768a;
  background: #83949B;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 800px) {
  main .cointainer_txt_about {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  main .container_img_about {
    width: 100%;
    background-position-x: center;
    overflow: hidden;
  }
}
@media screen and (max-width: 400px) {
  main .container_img_about {
    width: 100%;
    background-position-x: center;
    overflow: hidden;
  }
}

.slideTeamWork {
  display: flex;
  overflow: hidden;
  width: 85%;
  margin: auto;
}

hr {
  margin-top: 40px;
}

.contactUs h2 {
  font-size: 18px;
  font-family: "nunito", sans-serif;
  letter-spacing: 0.2em;
  color: rgb(61, 61, 61);
}

.container_contacts {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.container_contacts form {
  gap: 20px;
}
.container_contacts form label {
  font-family: "nunito", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 14px;
  letter-spacing: 0.3em;
}
.container_contacts form input {
  width: 400px;
  height: 32px;
  margin: 5px 20px 20px 0;
}
.container_contacts .second label {
  font-family: "nunito", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 14px;
  letter-spacing: 0.3em;
}
.container_contacts .second textarea {
  width: 400px;
  height: 175px;
  margin-top: 5px;
  padding: 10px;
  resize: none;
}
@media screen and (max-width: 800px) {
  .container_contacts {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.container_buttonSend {
  display: flex;
  justify-content: center;
}
.container_buttonSend .buttonSend {
  font-size: 15px;
  font-family: "nunito", sans-serif;
  width: 180px;
  height: 40px;
  border-width: 1px;
  color: #fff;
  text-decoration: none;
  border-color: #83949B;
  font-weight: bold;
  border-radius: 1px;
  box-shadow: 0px 8px 14px -7px #83949B;
  text-shadow: 0px 1px 0px #3d768a;
  background: #83949B;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 40px;
}

.products .nav-products {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
}
.products .nav-products input {
  line-height: 30px;
  width: 300px;
  padding-left: 10px;
  border-style: solid;
  border-radius: 2px;
}
@media screen and (max-width: 800px) {
  .products .nav-products {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    place-items: center;
    grid-gap: 20px;
  }
  .products .nav-products input {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .products .nav-products input {
    width: 300px;
  }
}

.item-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.item-products .descricao {
  position: relative;
}
.item-products span {
  position: absolute;
  right: 10px;
  display: none;
}
.item-products div {
  margin: auto;
  max-width: 200px;
  font-family: "nunito", sans-serif;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: rgb(83, 83, 83);
}
.item-products div p {
  margin-top: 20px;
  line-height: 20px;
}
.item-products div p small {
  line-height: 40px;
  color: red;
}
.item-products div p small .price {
  padding-top: 60px;
}
@media screen and (max-width: 800px) {
  .item-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .item-products {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

main .heroShop {
  background: rgba(196, 196, 196, 0.2117647059);
  height: 550px;
  margin-top: 40px;
  border-radius: 5px 5px 0px 0;
  box-shadow: -10px 6px 10px rgba(0, 0, 0, 0.336);
  overflow: hidden;
}
main .heroShop .carouselSlick {
  padding: 40px;
  margin-left: 40px;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 40px;
}
.container_footer p {
  margin-bottom: 18px;
  color: rgb(104, 103, 103);
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container_footer small {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(148, 147, 147);
}
.container_footer ul li {
  margin-top: 10px;
}
.container_footer ul li a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgb(148, 147, 147);
  text-decoration: none;
  padding-top: 20px;
}
.container_footer ul li a .instagram {
  width: 30px;
  height: 30px;
}
.container_footer ul li a .facebook {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 800px) {
  .container_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 400px) {
  .container_footer {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    margin-left: 20px;
  }
}

.destaque {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 50px;
}
.destaque span {
  margin: auto;
  text-align: justify;
  width: 80%;
}
.destaque span small {
  font-size: 18px;
  font-style: italic;
  font-family: "nunito", sans-serif;
}
.destaque span p {
  padding-bottom: 5px;
}
.destaque span article {
  font-family: "nunito", sans-serif;
  padding-top: 40px;
}
.destaque span h5 {
  color: red;
  font-family: "nunito", sans-serif;
  padding: 10px 0px 10px 0px;
}
.destaque span h6 {
  color: gray;
  font-family: "nunito", sans-serif;
}
.destaque .container_buttonSend {
  margin-top: 40px;
}
@media screen and (max-width: 1000px) {
  .destaque {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
  }
  .destaque img {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .destaque img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */